@import "./../../variables.scss";

.midLevelHeading {
    font-family: BR Firma;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.sideBox {
    min-height: 50vh;
    padding: 10px 31px;
}