@import "../../variables.scss";


.bgLight{
    background: #EBEFE5;
    display: flex;
    width: 100%;
    .BannerContainer{
        color: #112A5A;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding-top: 8rem;
            flex-direction: column;
        .BannerHeading{
            font-family: BR Firma;
            font-style: normal;
            font-weight: bold;
            font-size: 29.7931px;
        }
        .updateBtn{
            background-color: $primaryColor ;
            border: none;
        }
        .BannerText{
            font-family: Plus Jakarta Display;
            font-style: normal;
            font-weight: normal;
            font-size: 17.3793px;
            line-height: 25px;            
            letter-spacing: 0.372414px;
        }
    }
    .BannerImg{
        width: 100%;
    }
    
    
}
