@import "./../../variables.scss";
.expandIcon {
    display:  none;
    border-color: $primaryColor;
    padding: 3px 5px;
}
.MainLayoutNavbar{ 
    border-bottom: 1px solid #DFE1E6;
    padding-left: 30px !important;
    padding-right: 30px !important;
    .searchMainDiv {
        .searchFiled {
             background: #FAFBFC;
             border: 2px solid #DFE1E6;
            box-sizing: border-box;
            border-radius: 3px;
            font-family: BR Firma;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            height: 40px;
            width: 240px;
            padding: 10px;
        }
        .searchImage {
            position: relative;
            left: -30px;
        }
        .searchFiled:hover {
            transition: .2s; 
            border: 2px solid $primaryColor;

        }
        .searchFiled:focus {
            outline: none !important;
            border: 2px solid $primaryColor;
        }
        

    }
    
    .profileImageMainDiv {
        .profileImageText {
            font-family: BR Firma;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            
            color: $black;
            margin-right: 10px;
        }
        .profileImage {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }
}
@media only screen and (max-width: 800px) {
    .expandIcon {
        display:  revert;
    }
}

@media only screen and (max-width: 500px) {
    
    .searchMainDiv {
        display: none;
    }
    .profileImageMainDiv {
        width: 100%;
        text-align: end;
    }
}