@import './../../../variables.scss';

.card {
    background: $primaryColor;
    border-radius: 8.56326px;
    width: 100%;
    padding: 17px;
    margin-bottom: 10px;
    .text {
        font-family: BR Firma;
        font-style: normal;
        font-weight: 500;
        font-size: 24.1786px;
        line-height: 30px;
        color: #FFFFFF;
        
    }
    .arrowImage {
        margin-right: 8px;
    }
}
.card:hover {
    transition: .5s;
    background: #02602f;
    .arrowImage {
        transition: .3s;
        transform: matrix(1, 0, 0, 1, 13, 0);
    }
}

@media (max-width: 1200px) {
    
    .card {
        padding: 10px;

        .text {
            font-size: 18.1786px;
    
        }
        .arrowImage {
            margin-right: 8px;
        }
    }
}