
@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

 .successAlert {
    background: #D1E7DD;    
    border: 0.490622px solid #A3CFBB;
    box-sizing: border-box;
    border-radius: 3.92498px;
    font-family: BR Firma;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #152536;
    padding: 5.88746px 10px;
 }

 #style-1::-webkit-scrollbar {
   width: 0px;
   display: none;
}
.boxWithShadow {
   background: #FFFFFF;
   border: 1px solid #F1F4F6;
   box-sizing: border-box;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
   border-radius: 4px
}
button:focus {
   outline: none !important;
   box-shadow: none !important;
 }